<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Template</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 20px;
      }
    </style>
    <script>
    function SearchFunction(){
        var loc = window.location;
        if (document.getElementById('search_movie').value){
            window.location = "http://127.0.0.1:5000/movie_api/search_movie/" + document.getElementById('search_movie').value
        }
    }
    function NowPlaying(){
         var loc = window.location;
         window.location = "http://127.0.0.1:5000/movie_api/now_playing/"
    }
    </script>
</head>
<body>
    <div class="container">
      <p><b>{{title_string}}</b></p>
      <p><input type="text" id="search_movie"><button onclick="SearchFunction()" id="search_button">Search movie:</button></p>
      <p><button onclick="NowPlaying()" id="now_playing_button" style="width:267px">Now playing movies</button></p>
      <ul>
        {% for movie in movie_info %}
        <p>
        <li><b> movie title: </b><font color="#7755ee">{{movie[0]}}</font>, <b>year_of_production: </b> {{movie[1]['movie_production_year']}}</li>
        <li><b> starring actors: </b> {{movie[1]['starring_actors']}}</li>
        <li><b> description: </b> {{movie[1]['movie_description']}}</li>
        <li><b> number of reviews: </b> {{movie[1]['number_of_reviews']}}</li>
        </p>
        {% endfor %}
      </ul>
    </div>
</body>
</html>

